# copy this file to .env.local to start dev

NODEGET_CONFIG='{
  "user_preferences":{
    "site_name": "SRProbe",
    "site_logo": "",
    "footer": "Powered by NodeGet"
  },
  "site_tokens": [
    {
      "name": "SRProbe",
      "backend_url": "wss://dash.cnsr.site",
      "token": "IRlOm5tjr2B9LShh"
    }
  ]
}'